* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.app{
    height: 100vh;
    width: 100vw;
    background: yellow;
}

.display{
    height: 20%;
    width: 100vw;
    background: green;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:300%;
    margin: 20px 0;
}

.button-class{
    height: 50vh;
    width: 100%;
    background: green;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 35px;
}

.button-class > button{
    height: 15%;
    width: 30%;
    background: orange;
    border-radius: 5%;
    margin: 12px 0;
}

.preview{
    display: flex;
    justify-content: center;
    align-items: center
}

.preview > .preview-link > button{
    width: 150%;
    height: 40px;
    border-radius: 10%;
    margin: 10px 0;
    background: purple
}